@model List<Product>
@{
    ViewBag.Title = "Producttable";
}

<h2>Producttable</h2>

<thead>
    <tr>
        <td>Product Name</td>
        <td>Cateory</td>
        <td>Price</td>
        <td>Action</td>
    </tr>
</thead>

